<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <system>
            <oauth_gmail>
                <client_secret backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
                <auth_type>client_id_secret</auth_type>
                <test_scope>general</test_scope>
            </oauth_gmail>
        </system>
    </default>
</config>
