parameters:
    paths:
        - %currentWorkingDirectory%/src
    excludePaths:
        - *Test*
        - *tests*
        - %currentWorkingDirectory%/src/Model/GetAccessToken.php
        - %currentWorkingDirectory%/src/Model/SaveAccessToken.php
    level: max
    ignoreErrors:
        - '#Parameter \#1 \$message of method Psr\\Log\\LoggerInterface::(.*) expects string, (.*)Exception given.#'
