parameters:
    paths:
        - %currentWorkingDirectory%/src
    excludes_analyse:
        - *Test*
        - *tests*
        - %currentWorkingDirectory%/src/Model/GetAccessToken.php
        - %currentWorkingDirectory%/src/Model/SaveAccessToken.php
    level: 8
