<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="bootstrap.php"
         backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd" cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
    <testsuites>
        <testsuite name="tr33m4n Oauth Gmail test suite">
            <directory>src/Test/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
