<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system">
            <group id="oauth_gmail" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Oauth Gmail</label>
                <field id="auth_type" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Auth Type</label>
                    <source_model>tr33m4n\OauthGmail\Model\Config\Source\AuthType</source_model>
                </field>
                <field id="auth_file" translate="label" type="file" sortOrder="2" showInDefault="1" showInWebsite="0"
                       showInStore="0">
                    <label>Auth File</label>
                    <backend_model>tr33m4n\OauthGmail\Model\Config\Backend\AuthFile</backend_model>
                    <upload_dir config="system" scope_info="1">oauth_gmail</upload_dir>
                    <depends>
                        <field id="system/oauth_gmail/auth_type">file</field>
                    </depends>
                </field>
                <field id="client_id" translate="label" type="text" sortOrder="3" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Client ID</label>
                    <depends>
                        <field id="system/oauth_gmail/auth_type">client_id_secret</field>
                    </depends>
                </field>
                <field id="client_secret" translate="label" type="obscure" sortOrder="4" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Client Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="system/oauth_gmail/auth_type">client_id_secret</field>
                    </depends>
                </field>
                <field id="authenticate" sortOrder="5" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>tr33m4n\OauthGmail\Block\Adminhtml\System\Config\Authenticate</frontend_model>
                </field>
                <field id="send_test" sortOrder="6" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>tr33m4n\OauthGmail\Block\Adminhtml\System\Config\SendTest</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
