<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="system" translate="label" type="text" sortOrder="300" showInDefault="1"
                 showInWebsite="0" showInStore="0">
            <label>Google Oauth Mail</label>
            <resource>Tr33m4n_GoogleOauthMail::config</resource>
            <group id="google_oauth_mail" translate="label" type="text" sortOrder="1" showInDefault="1"
                   showInWebsite="0" showInStore="0">
                <label>Authentication</label>
                <field id="client_id" translate="label" type="text" sortOrder="1" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Client ID</label>
                </field>
                <field id="client_secret" translate="label" type="obscure" sortOrder="2" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Client Secret</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="authenticate" sortOrder="3" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>tr33m4n\GoogleOauthMail\Block\Adminhtml\System\Config\Authenticate</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
